{{define "content"}}

<article id="article" class="card box">
	<h2 class="text-center">{{translate .Lang "text_login_sub"}}</h2>

	<p class="text-center page-simple-message">
		{{translate .Lang "text_login_signinsub"}}
	</p>

	<form hx-post="/auth/otp.html" hx-target="#article" hx-swap="outerHTML">
		<div id="email-row" class="form-row-single">
			<label class="input-label" for="email">
				{{translate .Lang "text_general_email"}}
			</label>
			<input
				   id="email"
				   name="email"
				   type="email"
				   required
				   class="input input-full" />
			<div id="email-error"></div>
		</div>
		<button class="button button-full button-primary">
			<div class="htmx-indicator htmx-spinner"></div>
			{{translate .Lang "text_login_signin"}}
		</button>
	</form>

	<div id="alert"></div>
</article>

{{end}}