{{define "content"}}

<article id="article">
	<h2 class="text-center">{{translate .Lang "title_login_sub"}}</h2>

	<p class="text-center page-simple-message">
		{{translate .Lang "message_login_signin"}}
	</p>

	<form hx-post='{{urls "auth_otp"}}' hx-target="#article" hx-swap="outerHTML">
		<div id="email-row" class="form-row-single">
			<label for="email">{{translate .Lang "input_label_email"}}</label>
			<input id="email" name="email" type="email" required class="input-100" />
			<div id="email-error"></div>
		</div>
		<button class="button-full button-primary">
			<div class="htmx-indicator spinner spinner-white"></div>
			{{translate .Lang "label_login_signin"}}
		</button>
	</form>

	<div id="alert"></div>
</article>

{{end}}
