<article id="otp">
	<h2 class="text-center">{{translate .Lang "title_otp_sub"}}</h2>

	<p class="text-center page-simple-message">
		{{translate .Lang "message_otp_login" .Email}}
	</p>

	<form hx-post='{{urls "auth_login"}}'>
		<div id="otp-row" class="form-row-single">
			<div class="input-otp">
				<input
					type="text"
					class="input-digit"
					maxlength="1"
					inputmode="numeric"
					pattern="[0-9]*"
					data-code-input=""
					name="otp"
					required
				/>
				<input
					type="text"
					class="input-digit"
					maxlength="1"
					inputmode="numeric"
					pattern="[0-9]*"
					data-code-input=""
					name="otp"
					required
				/>
				<input
					type="text"
					class="input-digit"
					maxlength="1"
					inputmode="numeric"
					pattern="[0-9]*"
					data-code-input=""
					name="otp"
					required
				/>
				<input
					type="text"
					class="input-digit"
					maxlength="1"
					inputmode="numeric"
					pattern="[0-9]*"
					data-code-input=""
					name="otp"
					required
				/>
				<input
					type="text"
					class="input-digit"
					maxlength="1"
					inputmode="numeric"
					pattern="[0-9]*"
					data-code-input=""
					name="otp"
					required
				/>
				<input
					type="text"
					class="input-digit"
					maxlength="1"
					inputmode="numeric"
					pattern="[0-9]*"
					data-code-input=""
					name="otp"
					required
				/>
			</div>

			<div id="otp-error"></div>
		</div>

		<div class="row row-gap">
			<a
				href="#"
				class="button fill"
				hx-get='{{urls "auth_auth"}}'
				hx-target=" #otp"
				hx-swap="outerHTML"
			>
				{{translate .Lang "label_login_cancel"}}
			</a>
			<button class="button-full button-primary fill">
				<div class="htmx-indicator spinner spinner-white"></div>
				{{translate .Lang "label_login_verify"}}
			</button>
		</div>

		<input id="glue" type="hidden" name="glue" value="{{.Glue}}" />
	</form>

	<div id="alert"></div>

	{{template "otp.js.html" }}
</article>
