* {
	font-family: 'Gabarito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
	font-family: inherit;
	cursor: pointer;
}


:root {
	--bg-light: #FFF;
	--gray-light: #F4F4F4;
	--gray: #ccc;
	--gray-dark: #b6b6b6;
	--border-radius-1: .3125rem;
	--border-radius-2: .5rem;

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 48px 0px;
	width: 80%;
	margin: auto;
}

main {
	margin-bottom: 2rem;
}

select {
	border: .125rem solid var(--gray);
	border-radius: var(--border-radius-2);
	padding: .3125rem 0rem;
	text-align: center;
}

select:focus {
	outline: none;
	border: .125rem solid var(--gray-dark);
}

select:hover {
	border: .125rem solid var(--gray-dark);
}

option {
	background-color: var(--gray);
	border-radius: var(--border-radius-1);
}

.search-container {
	width: 80%;
	position: relative;
	margin: auto;
}

.search {
	width: 100%;
	display: flex;
	height: 2.5rem;
	padding: 1rem 3rem;
	align-items: center;
	border-radius: var(--border-radius-2);
	border: none;
	background-color: var(--gray-light);
}

.search:focus {
	outline: none;
	border: .125rem solid var(--gray-dark);
	padding: calc(1rem - .125rem) calc(3rem - .125rem);

}

.search:hover {
	border: .125rem solid var(--gray-dark);
	padding: calc(1rem - .125rem) calc(3rem - .125rem);
}


.search-icon {
	position: absolute;
	left: .625rem;
	top: 50%;
	transform: translateY(-50%);

	path {
		fill: var(--gray-dark);

	}
}

.categories-preview-container {
	width: 80%;
	margin: auto;
	margin-top: 1.5rem;
}

.img-categories-container {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
	text-align: center;
}

.img-category {
	width: 3rem;
	height: 3rem;
	border-radius: 3.5rem;
}

.categories-link {
	display: flex;
	justify-content: space-between;
}

.link-header {
	font-weight: bold;
	font-size: 1rem;
}

.see-all-link {
	font-weight: 100;
}

.highlighted-selling-cards {
	margin: auto;
	margin-top: 1.5rem;
	display: flex;
	align-items: flex-start;
	gap: .75rem;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--gray) var(--gray-light);
}

.highlighted-selling-cards::-webkit-scrollbar {
	height: 0.6rem;
	border-radius: var(--border-radius-2);
	background: white;

}

.highlighted-selling-cards::-webkit-scrollbar-thumb {
	background: var(--gray);
	border-radius: var(--border-radius-2);
	border: 2px solid white;
}

.highlighted-selling-card {
	display: flex;
	width: 9.9375rem;
	padding-bottom: 1rem;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
	border-radius: var(--border-radius-2);
	background: var(--Bg-Light-2, #F4F4F4);

}

.highlighted-selling-card-info {
	display: flex;
	padding: 0 .375rem;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
	align-self: stretch;
}

.highlighted-selling-card-img {
	border-radius: var(--border-radius-2);
	height: 13.75rem;
	align-self: stretch;
}

.highlighted-selling-card-title {
	overflow: hidden;
	color: var(--Black-100, #272727);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-style: normal;
	font-weight: 450;
}

.bottom-nav {
	position: fixed;
	/* Fixe le menu en bas de la fenêtre */
	bottom: 0;
	/* Aligné en bas */
	left: 0;
	/* Étend le menu sur toute la largeur à partir du bord gauche */
	width: 100%;
	/* Assure que le menu s'étend sur toute la largeur */
	background-color: #ffffff;
	/* Couleur de fond du menu */
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	/* Ombre légère pour donner de la profondeur */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	/* Hauteur du menu */
	z-index: 5;
	/* Assure que le menu reste au-dessus des autres éléments de la page */
}