{{define "content"}}

<div id="alert"></div>

<div class="grid half-grid">
	<div>
		<div class="card card-separator">
			<form hx-post="/admin/shop-settings.html" hx-target="#alert">
				<div class="box">
					<div class="form-row" id="items-row">
						<label class="input-label" for="items">
							{{translate .Lang "Products per page"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="items"
							   name="items"
							   class="input input-full"
							   type="number"
							   value="{{if .Data.ShopSettings.Items }}{{.Data.ShopSettings.Items}}{{end}}" />
						<small class="input-help">
							{{translate .Lang "Indicate how many products are displayed on the pages."}}
						</small>
						<div id="items-error"></div>
					</div>

					<div class="form-row" id="min-row">
						<label class="input-label" for="min">
							{{translate .Lang "Minimum purchase amount"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="min"
							   name="min"
							   class="input input-full"
							   type="number"
							   value="{{if .Data.ShopSettings.Min }}{{.Data.ShopSettings.Min}}{{end}}" />
						<small class="input-help">
							{{translate
							.Lang
							"Indicates the minimum amount that must be in the shopping cart to submit an order."}}
							{{translate
							.Lang
							"If the amount is not reached, your customer can not complete their purchase." }}
							{{translate
							.Lang
							"If you do not want to activate this feature, enter '0' in the field."}}
						</small>
						<div id="min-error"></div>
					</div>

					<div class="form-row" id="image_with-row">
						<label class="input-label" for="min">
							{{translate .Lang "Default image width"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="image_with"
							   name="image_with"
							   class="input input-full"
							   type="number"
							   value="{{if .Data.ShopSettings.ImageWidth }}{{.Data.ShopSettings.ImageWidth}}{{end}}" />
						<small class="input-help">
							{{translate
							.Lang
							"If empty, the theme will try to optimize the image display."}}
						</small>
						<div id="image_with-error"></div>
					</div>

					<div class="form-row" id="image_height-row">
						<label class="input-label" for="min">
							{{translate .Lang "Default image width"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="image_height"
							   name="image_height"
							   class="input input-full"
							   type="number"
							   value="{{if .Data.ShopSettings.ImageHeight }}{{.Data.ShopSettings.ImageHeight}}{{end}}" />
						<small class="input-help">
							{{translate
							.Lang
							"If empty, the theme will try to optimize the image display."}}
						</small>
						<div id="image_height-error"></div>
					</div>

					<div class="form-row" id="color-row">
						<label class="input-label" for="min">
							{{translate .Lang "Brand color"}}
						</label>
						<input
							   id="color"
							   name="color"
							   class="input input-color"
							   type="color"
							   value="{{if .Data.ShopSettings.Color }}{{.Data.ShopSettings.Color}}{{end}}" />
						<small class="input-help">
							{{translate
							.Lang
							"Define your brand color used in the theme."}}
						</small>
						<div id="color-error"></div>
					</div>

					<div class="form-row row row-align row-between" id="active-row">
						<div>
							<label class="switch-label" for="active">
								{{translate .Lang "Enable shop"}}
							</label>

							<small class="input-help">
								{{translate .Lang "Choose to make your shop active after you have made changes."}}
								{{translate .Lang
								"Use it when you need to performe a maintenance on your shop."}}
							</small>
							<div id="active-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="active"
									   name="active"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.Active}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="guest-row">
						<div>
							<label class="switch-label" for="guest">
								{{translate .Lang "Enable guest checkout"}}
							</label>

							<small class="input-help">
								{{translate .Lang "Allow orders to be made by non-registered users."}}
							</small>
							<div id="guest-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="guest"
									   name="guest"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.Guest}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="quantity-row">
						<div>
							<label class="switch-label" for="quantity">
								{{translate .Lang "Display available quantities on product page"}}
							</label>

							<small class="input-help">
								{{translate
								.Lang
								"If enabled, your visitors can see the quantities of each object available in stock."
								}}
							</small>
							<div id="quantity-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="quantity"
									   name="quantity"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.Quantity}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="new-row">
						<div>
							<label class="switch-label" for="new">
								{{translate .Lang "Number of days for new products"}}
							</label>

							<small class="input-help">
								{{translate
								.Lang
								"Define how many days the product will be considered as 'new'"}}
							</small>
							<div id="new-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="new"
									   name="new"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.New}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="redirect-row">
						<div>
							<label class="switch-label" for="redirect">
								{{translate .Lang "Redirect after adding product"}}
							</label>

							<small class="input-help">
								{{translate
								.Lang "Redirect the client to the cart page after adding a product to the cart."
								}}
							</small>
							<div id="redirect-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="redirect"
									   name="redirect"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.Redirect}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="fuzzy_search-row">
						<div>
							<label class="switch-label" for="fuzzy_search">
								{{translate .Lang "Enable by default the fuzzy search"}}
							</label>

							<small class="input-help">
								{{translate
								.Lang
								"The fuzzy search will return the approximated sequences as product titles...etc"
								}}
							</small>
							<div id="fuzzy_search-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="fuzzy_search"
									   name="fuzzy_search"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.FuzzySearch}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="exact_match_search-row">
						<div>
							<label class="switch-label" for="exact_match_search">
								{{translate .Lang "Enable by default the exact match search"}}
							</label>

							<small class="input-help">
								{{translate
								.Lang
								"The exact match value will look the specific keywords entered by the user."
								}}
								{{translate
								.Lang
								"The default search behaviour seaches for one the the keywords entered by the user."
								}}
							</small>
							<div id="exact_match_search-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="exact_match_search"
									   name="exact_match_search"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.ExactMatchSearch}}checked{{end}} />
							</label>
						</div>
					</div>

					<div class="form-row row row-align row-between" id="cache-row">
						<div>
							<label class="switch-label" for="cache">
								{{translate .Lang "Enable cache"}}
							</label>

							<small class="input-help">
								{{translate
								.Lang
								"Cache the response into Redis to accelerate the page loading."}}
							</small>
							<div id="cache-error"></div>
						</div>
						<div>
							<label class="">
								<input
									   id="cache"
									   name="cache"
									   class="switch"
									   type="checkbox"
									   {{if .Data.ShopSettings.Cache}}checked{{end}} />
							</label>
						</div>
					</div>

					<div id="alert-shop"></div>
				</div>

				<div class="row row-end card-footer box">
					<button class="button button-primary">
						<div id="spinner" class="htmx-indicator htmx-spinner"></div>

						{{translate .Lang "Save"}}
					</button>
				</div>

			</form>
		</div>

		<div class="card card-separator ">
			<div class="box">
				<h2 class="card-title">{{translate .Lang "Geolocation"}}</h2>
				<p class="input-help">
					{{translate
					.Lang
					"Add your Google Map API key to enable to geolocation for the customers."}}
				</p>

				<div class="form-row" id="geokey-row">
					<label class="input-label" for="geokey">
						{{translate .Lang "Key"}}
					</label>
					<input
						   id="geokey"
						   name="geokey"
						   class="input input-full"
						   value="{{if .Data.ShopSettings.GmapKey }}{{.Data.ShopSettings.GmapKey }}{{end}}" />
					<div id="geokey-error"></div>
				</div>
			</div>

			<div class="card-footer box">
				<div class="row row-end row-gap">
					<button class="button button-primary">
						<div id="spinner" class="htmx-indicator htmx-spinner"></div>

						{{translate .Lang "Save"}}
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="">

		<div class="card card-separator flex">
			<div class="card-subheader box">Account</div>

			<form hx-post="/admin/contact-settings.html" hx-target="#alert" enctype="multipart/form-data">
				<div class="box">
					<div class="form-row" id="name-row">
						<label class="input-label" for="name">
							{{translate .Lang "Name"}}
						</label>
						<input
							   id="name"
							   name="name"
							   required
							   class="input input-full"
							   value="{{if .Data.Contact.Name }}{{.Data.Contact.Name}}{{end}}" />
						<div id="name-error"></div>
					</div>

					<div class="form-row" id="address-row">
						<label class="input-label" for="address">
							{{translate .Lang "Address"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="address"
							   name="address"
							   class="input input-full"
							   value="{{if .Data.Contact.Address }}{{.Data.Contact.Address}}{{end}}" />
						<div id="address-error"></div>
					</div>

					<div class="form-row" id="city-row">
						<label class="input-label" for="city">
							{{translate .Lang "City"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="city"
							   name="city"
							   required
							   class="input input-full"
							   value="{{if .Data.Contact.City }}{{.Data.Contact.City}}{{end}}" />
						<div id="city-error"></div>
					</div>

					<div class="form-row" id="zipcode-row">
						<label class="input-label" for="zipcode">
							{{translate .Lang "zipcode"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="zipcode"
							   name="zipcode"
							   class="input input-full"
							   value="{{if .Data.Contact.Zipcode }}{{.Data.Contact.Zipcode}}{{end}}" />
						<div id="zipcode-error"></div>
					</div>

					<div class="form-row" id="email-row">
						<label class="input-label" for="email">
							{{translate .Lang "Email"}} -
							<i> {{translate .Lang "Optional"}}</i>
						</label>
						<input
							   id="email"
							   name="email"
							   type="email"
							   class="input input-full"
							   value="{{if .Data.Contact.Email }}{{.Data.Contact.Email}}{{end}}" />
						<div id="email-error"></div>
					</div>

					<div class="form-row" id="phone-row">
						<label class="input-label" for="phone">
							{{translate .Lang "Phone"}}
						</label>
						<input
							   id="phone"
							   name="phone"
							   class="input input-full"
							   value="{{if .Data.Contact.Phone }}{{.Data.Contact.Phone}}{{end}}" />
						<div id="phone-error"></div>
					</div>

					<div class="form-row" id="logo-row">
						<label for="logo" class="input-label">
							{{translate .Lang "Logo"}}
						</label>
						<input
							   id="logo"
							   name="logo"
							   class="input-file input-full"
							   type="file"
							   accept="image/png, image/jpeg, image/jpg"
							   {{if.Data.Contact.Logo }}{{else}}required{{end}} />

						<small class="input-help">
							{{translate .Lang "The extensions allowed are .jpg, .jpeg .png."}}
						</small>

						{{if .Data.Contact.Logo}}

						<small class="input-link">
							<a href='{{image .Data.Contact.Logo "" "" .Data.UpdatedAt}}' target="_blank" class="link">
								{{image .Data.Contact.Logo "" "" .Data.UpdatedAt}}
							</a>
						</small>

						{{end}}

						<div id="logo-error"></div>
					</div>

					<div class="form-row" id="banner_1-row">
						<label for="logo" class="input-label">
							{{translate .Lang "Banner"}} 1 -
							<i> {{translate .Lang "Optional"}}</i>
						</label>

						{{if .Data.Contact.Banner1}}

						<input
							   id="banner_1_delete"
							   type="checkbox"
							   class="hide"
							   name="banner_1_delete" />

						{{end}}

						<div class="input-group row">
							<input
								   id="banner_1"
								   name="banner_1"
								   class="input-file fill"
								   type="file"
								   accept="image/png, image/jpeg, image/jpg" />

							{{if .Data.Contact.Banner1}}

							<label for="banner_1_delete" class="input-label input-group-label">
								<a class="button input-group-button">
									<span class="button-icon"> {{template "close.svg"}} </span>
								</a>
							</label>

							{{end}}
						</div>

						<small class="input-help">
							{{translate .Lang "The extensions allowed are .jpg, .jpeg .png."}}
						</small>

						{{if .Data.Contact.Banner1}}

						<small class="input-link">
							<a href='{{image .Data.Contact.Banner1 "" "" .Data.UpdatedAt}}' target="_blank"
							   class="link">
								{{image .Data.Contact.Banner1 "" "" .Data.UpdatedAt}}
							</a>
						</small>

						{{end}}

						<div id="banner_1-error"></div>
					</div>

					<div class="form-row" id="banner_2-row">
						<label for="logo" class="input-label">
							{{translate .Lang "Banner"}} 2 -
							<i> {{translate .Lang "Optional"}}</i>
						</label>

						{{if .Data.Contact.Banner2}}

						<input
							   id="banner_2_delete"
							   type="checkbox"
							   class="hide"
							   name="banner_2_delete" />

						{{end}}

						<div class="input-group row">
							<input
								   id="banner_2"
								   name="banner_2"
								   class="input-file fill"
								   type="file"
								   accept="image/png, image/jpeg, image/jpg" />

							{{if .Data.Contact.Banner2}}

							<label for="banner_2_delete" class="input-label input-group-label">
								<a class="button input-group-button">
									<span class="button-icon"> {{template "close.svg"}} </span>
								</a>
							</label>

							{{end}}
						</div>

						<small class="input-help">
							{{translate .Lang "The extensions allowed are .jpg, .jpeg .png."}}
						</small>

						{{if .Data.Contact.Banner2}}

						<small class="input-link">
							<a href='{{image .Data.Contact.Banner2 "" "" .Data.UpdatedAt}}' target="_blank"
							   class="link">
								{{image .Data.Contact.Banner2 "" "" .Data.UpdatedAt}}
							</a>
						</small>

						{{end}}

						<div id="banner_2-error"></div>
					</div>

					<div class="form-row" id="banner_3-row">
						<label for="logo" class="input-label">
							{{translate .Lang "Banner"}} 3 -
							<i> {{translate .Lang "Optional"}}</i>
						</label>

						{{if .Data.Contact.Banner3}}

						<input
							   id="banner_3_delete"
							   type="checkbox"
							   class="hide"
							   name="banner_3_delete" />

						{{end}}

						<div class="input-group row">
							<input
								   id="banner_3"
								   name="banner_3"
								   class="input-file fill"
								   type="file"
								   accept="image/png, image/jpeg, image/jpg" />

							{{if .Data.Contact.Banner3}}

							<label for="banner_3_delete" class="input-label input-group-label">
								<a class="button input-group-button">
									<span class="button-icon"> {{template "close.svg"}} </span>
								</a>
							</label>

							{{end}}
						</div>

						<small class="input-help">
							{{translate .Lang "The extensions allowed are .jpg, .jpeg .png."}}
						</small>

						{{if .Data.Contact.Banner3}}

						<small class="input-link">
							<a href='{{image .Data.Contact.Banner3 "" "" .Data.UpdatedAt}}' target="_blank"
							   class="link">
								{{image .Data.Contact.Banner3 "" "" .Data.UpdatedAt}}
							</a>
						</small>

						{{end}}

						<div id="banner_3-error"></div>
					</div>

					<div id="alert-contact"></div>
				</div>

				<div class="card-footer box row row-end">
					<button class="button button-primary">
						<div id="spinner" class="htmx-indicator htmx-spinner"></div>

						{{translate .Lang "Save"}}
					</button>
				</div>
			</form>
		</div>


	</div>

</div>
</div>

{{end}}