{{define "content"}}

<div id="alert"></div>

<div class="grid settings-grid">
	<div>
		<div class="card card-separator">
			<div class="box">
				<div class="form-row" id="items-row">
					<label class="input-label" for="items">
						{{translate .Lang "text_settings_items"}}
					</label>
					<input
						   id="items"
						   name="items"
						   class="input input-full"
						   type="number"
						   value="{{if .Data.Items }}{{.Data.Items}}{{end}}" />
					<small class="input-help">{{translate .Lang "text_settings_itemssub"}}</small>
					<div id="items-error"></div>
				</div>

				<div class="form-row" id="min-row">
					<label class="input-label" for="min">
						{{translate .Lang "text_settings_min"}}
					</label>
					<input
						   id="min"
						   name="min"
						   class="input input-full"
						   type="number"
						   value="{{if .Data.Min }}{{.Data.Min}}{{end}}" />
					<small class="input-help">{{translate .Lang "text_settings_minsub"}}</small>
					<div id="min-error"></div>
				</div>

				<div class="form-row" id="last-row">
					<label class="input-label" for="last">
						{{translate .Lang "text_settings_last"}}
					</label>
					<input
						   id="last"
						   name="last"
						   class="input input-full"
						   type="number"
						   value="{{if .Data.LastProducts }}{{.Data.LastProducts}}{{end}}" />
					<small class="input-help">{{translate .Lang "text_settings_lastsub"}}</small>
					<div id="last-error"></div>
				</div>

				<div class="form-row row row-align row-between" id="active-row">
					<div>
						<label class="switch-label" for="active">
							{{translate .Lang "text_settings_active"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_activesub"}}</small>
						<div id="active-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="active"
								   name="active"
								   class="switch"
								   type="checkbox"
								   {{if .Data.Active}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="guest-row">
					<div>
						<label class="switch-label" for="guest">
							{{translate .Lang "text_settings_guest"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_guestsub"}}</small>
						<div id="guest-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="guest"
								   name="guest"
								   class="switch"
								   type="checkbox"
								   {{if .Data.Guest}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="stock-row">
					<div>
						<label class="switch-label" for="stock">
							{{translate .Lang "text_settings_stock"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_stocksub"}}</small>
						<div id="stock-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="stock"
								   name="stock"
								   class="switch"
								   type="checkbox"
								   {{if .Data.Stock}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="quantity-row">
					<div>
						<label class="switch-label" for="quantity">
							{{translate .Lang "text_settings_quantity"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_quantitysub"}}</small>
						<div id="quantity-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="quantity"
								   name="quantity"
								   class="switch"
								   type="checkbox"
								   {{if .Data.Quantity}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="new-row">
					<div>
						<label class="switch-label" for="new">
							{{translate .Lang "text_settings_new"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_newsub"}}</small>
						<div id="new-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="new"
								   name="new"
								   class="switch"
								   type="checkbox"
								   {{if .Data.New}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="redirect-row">
					<div>
						<label class="switch-label" for="redirect">
							{{translate .Lang "text_settings_redirect"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_redirectsub"}}</small>
						<div id="redirect-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="redirect"
								   name="redirect"
								   class="switch"
								   type="checkbox"
								   {{if .Data.Redirect}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="advanced-row">
					<div>
						<label class="switch-label" for="advanced">
							{{translate .Lang "text_settings_advanced"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_advancedsub"}}</small>
						<div id="advanced-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="advanced"
								   name="advanced"
								   class="switch"
								   type="checkbox"
								   {{if .Data.AdvancedSearch}}checked{{end}} />
						</label>
					</div>
				</div>

				<div class="form-row row row-align row-between" id="cache-row">
					<div>
						<label class="switch-label" for="cache">
							{{translate .Lang "text_settings_cache"}}
						</label>

						<small class="input-help">{{translate .Lang "text_settings_cachesub"}}</small>
						<div id="cache-error"></div>
					</div>
					<div>
						<label class="">
							<input
								   id="cache"
								   name="cache"
								   class="switch"
								   type="checkbox"
								   {{if .Data.Cache}}checked{{end}} />
						</label>
					</div>
				</div>
			</div>

			<div class="row row-end card-footer box">
				<button class="button button-primary">
					<div id="spinner" class="htmx-indicator htmx-spinner"></div>

					{{translate .Lang "text_general_send"}}
				</button>
			</div>
		</div>

		<div class="card flex">
			<div class="card-subheader box">Account</div>

			<form>
				<div class="box">
					<div class="form-row" id="name-row">
						<label class="input-label" for="name">
							{{translate .Lang "text_general_name"}}
						</label>
						<input
							   id="name"
							   name="name"
							   required
							   class="input input-full"
							   value="{{if .Data.Name }}{{.Data.Name}}{{end}}" />
						<div id="name-error"></div>
					</div>

					<div class="form-row" id="address-row">
						<label class="input-label" for="address">
							{{translate .Lang "text_general_address"}}
						</label>
						<input
							   id="address"
							   name="address"
							   required
							   class="input input-full"
							   value="{{if .Data.Address }}{{.Data.Address}}{{end}}" />
						<div id="address-error"></div>
					</div>

					<div class="form-row" id="city-row">
						<label class="input-label" for="city">
							{{translate .Lang "text_general_city"}}
						</label>
						<input
							   id="city"
							   name="city"
							   required
							   class="input input-full"
							   value="{{if .Data.City }}{{.Data.City}}{{end}}" />
						<div id="city-error"></div>
					</div>

					<div class="form-row" id="zipcode-row">
						<label class="input-label" for="zipcode">
							{{translate .Lang "text_general_zipcode"}}
						</label>
						<input
							   id="zipcode"
							   name="zipcode"
							   required
							   class="input input-full"
							   value="{{if .Data.Zipcode }}{{.Data.Zipcode}}{{end}}" />
						<div id="zipcode-error"></div>
					</div>

					<div class="form-row" id="email-row">
						<label class="input-label" for="email">
							{{translate .Lang "text_general_email"}}
						</label>
						<input
							   id="email"
							   name="email"
							   type="email"
							   required
							   class="input input-full"
							   value="{{if .Data.Email }}{{.Data.Email}}{{end}}" />
						<div id="email-error"></div>
					</div>

					<div class="form-row" id="phone-row">
						<label class="input-label" for="phone">
							{{translate .Lang "text_general_phone"}}
						</label>
						<input
							   id="phone"
							   name="phone"
							   class="input input-full"
							   value="{{if .Data.Phone }}{{.Data.Phone}}{{end}}" />
						<div id="phone-error"></div>
					</div>

					<div class="form-row" id="logo-row">
						<label for="logo" class="input-label">
							{{translate .Lang "text_general_logo"}}
						</label>
						<input
							   id="logo"
							   name="logo"
							   class="input-file input-full"
							   type="file"
							   accept="image/png, image/jpeg, image/jpg"
							   {{if.Data.Logo }}{{else}}required{{end}} />

						<small class="input-help">
							{{translate .Lang "text_images_sub"}}
						</small>

						{{if .Data.Logo}}

						<small class="input-link">
							<a href="{{.Data.Logo}}" target="_blank" class="link">
								{{.Data.Logo}}
							</a>
						</small>

						{{end}}

						<div id="logo-error"></div>
					</div>

					<div class="form-row" id="banner_1-row">
						<label for="logo" class="input-label">
							{{translate .Lang "text_general_banner"}} 1
						</label>

						{{if .Data.Banner1}}

						<input
							   id="banner_1_delete"
							   type="checkbox"
							   class="hide"
							   name="banner_1_delete" />

						{{end}}

						<div class="input-group row">
							<input
								   id="banner_1"
								   name="banner_1"
								   class="input-file fill"
								   type="file"
								   accept="image/png, image/jpeg, image/jpg" />

							{{if .Data.Banner1}}

							<label for="banner_1_delete" class="input-label input-group-label">
								<a class="button input-group-button">
									<span class="button-icon"> {{template "close.svg"}} </span>
								</a>
							</label>

							{{end}}
						</div>

						<small class="input-help">
							{{translate .Lang "text_images_sub"}}
						</small>

						{{if .Data.Banner1}}

						<small class="input-link">
							<a href="{{.Data.Banner1}}" target="_blank" class="link">
								{{.Data.Banner1}}
							</a>
						</small>

						{{end}}

						<div id="banner_1-error"></div>
					</div>

					<div class="form-row" id="banner_2-row">
						<label for="logo" class="input-label">
							{{translate .Lang "text_general_banner"}} 2
						</label>

						{{if .Data.Banner2}}

						<input
							   id="banner_2_delete"
							   type="checkbox"
							   class="hide"
							   name="banner_2_delete" />

						{{end}}

						<div class="input-group row">
							<input
								   id="banner_2"
								   name="banner_2"
								   class="input-file fill"
								   type="file"
								   accept="image/png, image/jpeg, image/jpg" />

							{{if .Data.Banner2}}

							<label for="banner_2_delete" class="input-label input-group-label">
								<a class="button input-group-button">
									<span class="button-icon"> {{template "close.svg"}} </span>
								</a>
							</label>

							{{end}}
						</div>

						<small class="input-help">
							{{translate .Lang "text_images_sub"}}
						</small>

						{{if .Data.Banner2}}

						<small class="input-link">
							<a href="{{.Data.Banner2}}" target="_blank" class="link">
								{{.Data.Banner2}}
							</a>
						</small>

						{{end}}

						<div id="banner_2-error"></div>
					</div>

					<div class="form-row" id="banner_3-row">
						<label for="logo" class="input-label">
							{{translate .Lang "text_general_banner"}} 3
						</label>

						{{if .Data.Banner3}}

						<input
							   id="banner_3_delete"
							   type="checkbox"
							   class="hide"
							   name="banner_3_delete" />

						{{end}}

						<div class="input-group row">
							<input
								   id="banner_3"
								   name="banner_3"
								   class="input-file fill"
								   type="file"
								   accept="image/png, image/jpeg, image/jpg" />

							{{if .Data.Banner3}}

							<label for="banner_3_delete" class="input-label input-group-label">
								<a class="button input-group-button">
									<span class="button-icon"> {{template "close.svg"}} </span>
								</a>
							</label>

							{{end}}
						</div>

						<small class="input-help">
							{{translate .Lang "text_images_sub"}}
						</small>

						{{if .Data.Banner3}}

						<small class="input-link">
							<a href="{{.Data.Banner3}}" target="_blank" class="link">
								{{.Data.Banner3}}
							</a>
						</small>

						{{end}}

						<div id="banner_3-error"></div>
					</div>
				</div>

				<div class="card-footer box row row-end">
					<button class="button button-primary">
						<div id="spinner" class="htmx-indicator htmx-spinner"></div>

						{{translate .Lang "text_general_see"}}
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="">
		<div class="card card-separator ">
			<div class="box">
				<h2 class="card-title">{{translate .Lang "text_general_seo"}}</h2>
				<p class="input-help">{{translate .Lang "text_seo_message"}}</p>
			</div>

			<div class="card-footer box">
				<div class="form row row-end">
					<a class="button button-primary" href="/admin/products.html">
						{{translate .Lang "text_general_see"}}
					</a>
				</div>
			</div>
		</div>

		<div class="card card-separator ">
			<div class="box">
				<h2 class="card-title">{{translate .Lang "text_general_translations"}}</h2>
				<p class="input-help">{{translate .Lang "text_translations_message"}}</p>
			</div>

			<div class="card-footer box">
				<div class="row row-end row-gap">
					<a class="button button-primary" href="/admin/products.html">
						{{translate .Lang "text_general_see"}}
					</a>
				</div>
			</div>
		</div>

		<div class="card card-separator ">
			<div class="box">
				<h2 class="card-title">{{translate .Lang "text_general_geolocation"}}</h2>
				<p class="input-help">{{translate .Lang "text_geolocation_sub"}}</p>

				<div class="form-row" id="geokey-row">
					<label class="input-label" for="geokey">
						{{translate .Lang "text_general_key"}}
					</label>
					<input
						   id="geokey"
						   name="geokey"
						   class="input input-full"
						   value="{{if .Data.GmapKey }}{{.Data.GmapKey }}{{end}}" />
					<div id="geokey-error"></div>
				</div>
			</div>

			<div class="card-footer box">
				<div class="row row-end row-gap">
					<button class="button button-primary">
						<div id="spinner" class="htmx-indicator htmx-spinner"></div>

						{{translate .Lang "text_general_send"}}
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

{{end}}