# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# improxy folder
web/images/*
!web/images/.gitkeep
!web/images/blog
!web/images/products
!web/images/settings

# blog sub folder
web/images/blog/*
!web/images/blog/.gitkeep
!web/images/blog/1.jpeg
!web/images/blog/2.jpeg
!web/images/blog/3.jpeg

# products sub folder
web/images/products/*
!web/images/products/.gitkeep
!web/images/products/PDT1.jpeg
!web/images/products/PDT2.jpeg
!web/images/products/PDT3.jpeg
!web/images/products/PDT4.jpeg

# settings sub folder
web/images/articles/*
!web/images/settings/.gitkeep

# tracking logs
web/tracking/*
!web/tracking/.gitkeep

# temporary folder
web/tmp/*
!web/tmp/.gitkeep

node_modules