@import url("/web/public/css/themes/minimalist-light/classes/utils.css");

* {
	font-family: 'Gabarito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



a,
a:visited {
	color: inherit;
	text-decoration: none;
	font-family: inherit;
	cursor: pointer;
}


:root {
	--bg-light: #FFF;
	--gray-light: #F4F4F4;
	--gray: #ccc;
	--gray-dark: #b6b6b6;
	--gray-darker: #818181;
	--border-radius-1: .3125rem;
	--border-radius-2: .5rem;
	--border-radius-3: .75rem;
	--border-radius-4: 1rem;
	--border-radius-5: 1.25rem;
	--border-radius-6: 1.5rem;
	--primary: #8E6CEF;
}



.header.home,
.header.blog,
.header.article,
.header.product-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
	width: 85%;
	margin: auto;


	.logo {
		height: 4rem;
	}


	svg.basket-svg {
		width: 3.125rem;
		height: 3.125rem;
		background: var(--gray-light);
		border-radius: 1.875rem;
		padding: .625rem;

		g {
			path {
				stroke: gray;
				stroke-opacity: 0.5;
				stroke-width: 1;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}


	}
}

.header.account,
.header.address,
.header.payment-methods,
.header.card,
.header.wishlist,
.header.categories,
.header.products {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem 0;
	width: 85%;
	margin: auto;
}


main {
	margin-bottom: 2rem;
}

select {
	border: .125rem solid var(--gray);
	border-radius: var(--border-radius-2);
	padding: .3125rem 0rem;
	text-align: center;
}

select:focus {
	outline: none;
	border: .125rem solid var(--gray-dark);
}

select:hover {
	border: .125rem solid var(--gray-dark);
}

option {
	background-color: var(--gray);
	border-radius: var(--border-radius-1);
}

.search-container {
	width: 85%;
	position: relative;
	margin: auto;
}

.search {
	width: 100%;
	display: flex;
	height: 2.5rem;
	padding: 1rem 3rem;
	align-items: center;
	border-radius: var(--border-radius-2);
	border: none;
	background-color: var(--gray-light);
}

.search:focus {
	outline: none;
	border: .125rem solid var(--gray-dark);
	padding: calc(1rem - .125rem) calc(3rem - .125rem);

}

.search:hover {
	border: .125rem solid var(--gray-dark);
	padding: calc(1rem - .125rem) calc(3rem - .125rem);
}


.search-svg {
	position: absolute;
	left: .625rem;
	top: 50%;
	transform: translateY(-50%);
}

.home-container {
	width: 85%;
	margin: auto;
	margin-top: 3rem;
}

.img-categories-container {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
	text-align: center;
}

.img-category {
	width: 3rem;
	height: 3rem;
	border-radius: 3.5rem;
}

.categories-link {
	display: flex;
	justify-content: space-between;
}

.link-header {
	font-weight: bold;
	font-size: 1rem;
}

.see-all-link {
	font-weight: 100;
}

.best-selling-cards,
.new-products-cards {
	margin: auto;
	margin-top: 1rem;
	display: flex;
	align-items: flex-start;
	gap: .75rem;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--gray) var(--gray-light);
}

.new-products-cards {
	margin-bottom: 4rem;
}

.best-selling-cards::-webkit-scrollbar,
.new-products-cards::-webkit-scrollbar {
	height: 0.6rem;
	border-radius: var(--border-radius-2);
	backgroundbestwhite;
}

.best-selling-cards::-webkit-scrollbar-thumb,
.new-products-cards::-webkit-scrollbar {
	background: var(--gray);
	border-radius: var(--border-radius-2);
	border: 2px solid white;
}

.best-selling-card,
.new-products-card {
	display: flex;
	width: 9.9375rem;
	padding-bottom: 1rem;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
	border-radius: var(--border-radius-2);
	background: var(--Bg-Light-2, #F4F4F4);
	position: relative;
}

.best-selling-card-info,
.new-products-card-info {
	display: flex;
	padding: 0 .375rem;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
	align-self: stretch;

}

.best-selling-card-img,
.new-products-card-img {
	border-radius: var(--border-radius-2);
	height: 13.75rem;
	align-self: stretch;
}

.best-selling-card-title,
.new-products-card-title {
	/* overflow: hidden; c'est mieux ça ou ellipsis ? */
	color: var(--Black-100, #272727);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-style: normal;
	font-weight: 450;
	max-width: 9rem;
}

.bottom-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 -0.125rem .3125rem rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4rem;
	z-index: 5;
}

.nav-item.home-svg {
	svg {
		path {
			stroke: gray;

		}

	}
}

.nav-item.categories-svg {
	svg {
		width: 1.625rem;
		height: 1.625rem;

		g {
			path {
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
	}
}

.nav-item.wish-svg {
	svg {
		width: 24px;
		height: 24px;

		path {
			stroke: gray;
			stroke-opacity: 0.5;
			stroke-width: 1;
			stroke-linecap: round;
			stroke-linejoin: round;
		}

	}
}

.account {
	width: 85%;
	margin: auto;
	margin-top: 1.5rem;

	.identity {
		border-radius: var(--border-radius-2);
		background: var(--gray-light);
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1rem;

		.name {
			font-weight: bold;
		}

		.mail,
		.phone {
			font-style: normal;
			font-weight: 450;
			color: var(--gray-darker);
		}
	}

	.address {
		margin-top: 1.5rem;
		border-radius: var(--border-radius-2);
		background: var(--gray-light);
		padding: 1rem;
		display: flex;
		width: 100%;
		justify-content: space-between;

		.address-info {
			font-style: normal;
			font-weight: 450;
			color: var(--gray-darker);
		}
	}

	.wishlist {
		margin-top: 1.5rem;
		border-radius: var(--border-radius-2);
		background: var(--gray-light);
		padding: 1rem;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.address,
.card {
	form {
		width: 85%;
		height: 100vh;
		margin: auto;
		margin-top: 1.5rem;
		border-radius: var(--border-radius-2);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-align: center;

		.form-field {
			width: 100%;
			border-radius: var(--border-radius-2);
			border: none;
			padding: 1.25rem;
			background-color: var(--gray-light);
		}

		.form-field:focus {
			outline: none;
			border: none;
		}

		.form-field:hover {
			border: none;
		}

		.btn {
			margin-top: 5rem;
			background-color: var(--primary);
		}
	}
}



.payment-methods {
	width: 85%;
	margin: auto;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.payment-method-list {
		.label {
			font-family: Gabarito;
			font-size: 1rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.payment-method {
			border-radius: var(--border-radius-2);
			background: var(--gray-light);
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 100%;
			margin-top: 1rem;
			align-items: center;
		}
	}
}

.categories {
	width: 85%;
	margin: auto;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.categories-list {
		.category {
			border-radius: var(--border-radius-2);
			background: var(--gray-light);
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 100%;
			margin-top: 1rem;
			align-items: center;

			.category-info {
				display: flex;
				align-items: center;
				gap: 1rem;

				img {
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 3.5rem;
				}
			}

		}
	}
}


.wishlist,
.products {
	width: 85%;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .75rem;
	flex-wrap: wrap;
}

.wishlist-card {
	position: relative;
	display: flex;
	width: 9.5rem;
	padding-bottom: 1rem;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
	border-radius: var(--border-radius-2);
	background: var(--Bg-Light-2, #F4F4F4);
}

.like {
	position: absolute;
	top: 0;
	right: 0;
	padding: .5rem;
}

.wishlist-card-info {
	display: flex;
	padding: 0 .375rem;
	flex-direction: column;
	align-items: flex-start;
	gap: .5rem;
	align-self: stretch;
}

.wishlist-card-img {
	border-radius: var(--border-radius-2);
	height: 13.75rem;
	align-self: stretch;
}

.wishlist-card-title {
	overflow: hidden;
	color: var(--Black-100, #272727);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-style: normal;
	font-weight: 450;
}


.store-info {
	width: 85%;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 7rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: var(--gray-light);
	padding: 1rem;
	border-radius: var(--border-radius-2);


	.store-info-item {
		display: flex;
		justify-content: start;
		align-items: center;

		svg {
			width: 1.625rem;
			height: 1.625rem;
			margin-right: 1rem;
		}
	}


}

.blog-container {
	width: 85%;
	margin: auto;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.blog-item {
		border-radius: var(--border-radius-2);
		background: var(--gray-light);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		max-width: 100%;
		margin-top: 1rem;
		align-items: center;

		.blog-img {
			width: 100%;
			height: 10rem;
			border-top-right-radius: var(--border-radius-2);
			border-top-left-radius: var(--border-radius-2);

		}

		.blog-text {
			width: 100%;
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}



		.btn-more {
			padding: initial;
			font-size: .875rem;
			flex: 0 0 auto;
		}

	}
}

.article-container {
	width: 85%;
	margin: auto;
	margin-bottom: 5rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background: var(--gray-light);
	border-radius: var(--border-radius-2);

	.article-title {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.article-date {
		font-size: .875rem;
		font-weight: 450;
	}

	.article-img {
		width: 100%;
		border-radius: var(--border-radius-2);
	}


	.article-content {
		font-size: 1rem;
		font-weight: 450;
		white-space: pre-line;
		margin: auto;
	}

}

.product-details-container {
	width: 85%;
	margin: auto;
	margin-bottom: 5rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.product-img-container {
		display: flex;
		justify-content: center;
		border-radius: var(--border-radius-2);
		margin: auto;
		margin-top: 1rem;
		display: flex;
		align-items: flex-start;
		gap: .75rem;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--gray) var(--gray-light);

		.product-img {
			border-radius: var(--border-radius-2);
			height: 13.75rem;
			align-self: stretch;
		}
	}


}


/* Media queries */

@media screen and (min-width: 768px) {

	.header.home,
	.header.blog {
		width: 40%;
	}

	.header.account,
	.header.address,
	.header.payment-methods,
	.header.card,
	.header.wishlist,
	.header.categories {
		width: 40%;
	}

	.search-container {
		width: 40%;
	}

	.home-container {
		width: 40%;
	}

	.best-selling-cards,
	.new-products-cards {
		width: 40%;
	}

	.account,
	.address,
	.card {
		form {
			width: 40%;
		}
	}

	.payment-methods {
		width: 40%;
	}

	.categories {
		width: 40%;
	}

	.wishlist {
		width: 40%;
	}

	.store-info {
		width: 40%;
	}

	.blog-container {
		width: 40%;
	}
}