@import url("/web/public/css/themes/minimalist-light/classes/utils.css");
@import url("/web/public/css/themes/minimalist-light/classes/nav-bottom.css");
@import url("/web/public/css/themes/minimalist-light/pages/home.css");
@import url("/web/public/css/themes/minimalist-light/pages/product-details.css");
@import url("/web/public/css/themes/minimalist-light/pages/account.css");
@import url("/web/public/css/themes/minimalist-light/pages/address.css");
@import url("/web/public/css/themes/minimalist-light/pages/payment-methods.css");
@import url("/web/public/css/themes/minimalist-light/pages/card.css");
@import url("/web/public/css/themes/minimalist-light/pages/wishlist.css");
@import url("/web/public/css/themes/minimalist-light/pages/categories.css");
@import url("/web/public/css/themes/minimalist-light/pages/blog.css");
@import url("/web/public/css/themes/minimalist-light/pages/article.css");
@import url("/web/public/css/themes/minimalist-light/pages/products.css");


* {
	font-family: 'Gabarito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



a,
a:visited {
	color: inherit;
	text-decoration: none;
	font-family: inherit;
	cursor: pointer;
}


:root {
	--bg-light: #FFF;
	--gray-light: #F4F4F4;
	--gray: #ccc;
	--gray-dark: #b6b6b6;
	--gray-darker: #818181;
	--border-radius-1: .3125rem;
	--border-radius-2: .5rem;
	--border-radius-3: .75rem;
	--border-radius-4: 1rem;
	--border-radius-5: 1.25rem;
	--border-radius-6: 1.5rem;
	--primary: #8E6CEF;
}



.header.home,
.header.blog,
.header.article,
.header.product-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
	width: 85%;
	margin: auto;


	.logo {
		height: 4rem;
	}


	svg.basket-svg {
		width: 3.125rem;
		height: 3.125rem;
		background: var(--gray-light);
		border-radius: 1.875rem;
		padding: .625rem;

		g {
			path {
				stroke: gray;
				stroke-opacity: 0.5;
				stroke-width: 1;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}


	}
}

main {
	margin-bottom: 2rem;
}

select {
	border: .125rem solid var(--gray);
	border-radius: var(--border-radius-2);
	padding: .3125rem 0rem;
	text-align: center;
}

select:focus {
	outline: none;
	border: .125rem solid var(--gray-dark);
}

select:hover {
	border: .125rem solid var(--gray-dark);
}

option {
	background-color: var(--gray);
	border-radius: var(--border-radius-1);
}

.search-container {
	width: 85%;
	position: relative;
	margin: auto;
}

.search {
	width: 100%;
	display: flex;
	height: 2.5rem;
	padding: 1rem 3rem;
	align-items: center;
	border-radius: var(--border-radius-2);
	border: none;
	background-color: var(--gray-light);
}

.search:focus {
	outline: none;
	border: .125rem solid var(--gray-dark);
	padding: calc(1rem - .125rem) calc(3rem - .125rem);

}

.search:hover {
	border: .125rem solid var(--gray-dark);
	padding: calc(1rem - .125rem) calc(3rem - .125rem);
}


.search-svg {
	position: absolute;
	left: .625rem;
	top: 50%;
	transform: translateY(-50%);
}






/* Media queries */

@media screen and (min-width: 768px) {

	.header.home,
	.header.blog {
		width: 40%;
	}

	.header.account,
	.header.address,
	.header.payment-methods,
	.header.card,
	.header.wishlist,
	.header.categories {
		width: 40%;
	}

	.search-container {
		width: 40%;
	}

	.home-container {
		width: 40%;
	}

	.best-selling-cards,
	.new-products-cards {
		width: 40%;
	}

	.account,
	.address,
	.card {
		form {
			width: 40%;
		}
	}

	.payment-methods {
		width: 40%;
	}

	.categories {
		width: 40%;
	}

	.wishlist {
		width: 40%;
	}

	.store-info {
		width: 40%;
	}

	.blog-container {
		width: 40%;
	}
}