{{define "actions"}}

<!-- -->
<div class="row row-align row-gap header-navigation-actions">
	<div id="spinner" class="htmx-indicator htmx-spinner"></div>

	<select
			class="input select"
			name="days"
			hx-trigger="change"
			hx-target="#dashboard"
			hx-swap="outerHTML"
			hx-indicator="#spinner"
			hx-get="/admin/index">
		<option value="7">{{translate .Lang "Last 7 days"}}</option>
		<option value="14">{{translate .Lang "Last 14 days"}}</option>
		<option value="30">{{translate .Lang "Last 30 days"}}</option>
	</select>

	<a
	   hx-swap="outerHTML"
	   hx-indicator="#spinner"
	   hx-post="/admin/demo"
	   href="#"
	   class="button button-primary">
		{{if .Demo }}
		<!---->
		{{translate .Lang "Disable demo"}}
		<!---->
		{{else}}
		<!---->
		{{translate .Lang "Activate demo"}}
		<!---->
		{{end}}
	</a>
</div>

{{end}}