<div class="table-responsive">
	<table class="table">
		<thead class="thead">
			<tr class="tr">
				<th class="th">{{translate .Lang "text_general_name"}}</th>
				<th class="th">{{translate .Lang "text_statistics_visitors"}}</th>
				<th class="th">{{translate .Lang "text_general_link"}}</th>
			</tr>
		</thead>
		<tbody class="tbody">
			{{ range index .Data}}
			<tr class="tr">
				<td class="td">
					<div class="row row-align row-gap">{{.Key}}</div>
				</td>
				<td class="td">{{.Value}}</td>
				<td class="td">
					<a href="{{.URL}}" target="_blank" class="link">
						{{template "anchor.svg"}}
					</a>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>