<table class="table table-fixed">
	<thead class="thead">
		<tr class="tr">
			<th class="th" colspan="2">{{translate .Lang "text_general_name"}}</th>
			<th class="th">{{translate .Lang "text_general_count"}}</th>
			<th class="th"></th>
		</tr>
	</thead>
	<tbody class="tbody">
		{{ range index .Data}}
		<tr class="tr">
			<td class="td" colspan="2">
				<div class="row row-align row-gap">{{.Key}}</div>
			</td>
			<td class="td">{{.Value}}</td>
			<td class="td">
				<div class="progress progress-xs">
					<progress
							  class="progress-bar bg-primary"
							  value="{{.Percent}}"
							  max="100">
						{{.Percent}}%
					</progress>
				</div>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>