<table class="table-fixed">
	<thead>
		<tr>
			<th colspan="2">{{translate "label_dashboard_name"}}</th>
			<th>{{translate "label_dashboard_count"}}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{ range index .}}
		<tr>
			<td colspan="2">
				<div class="row row-align row-gap">{{.Key}}</div>
			</td>
			<td>{{.Value}}</td>
			<td>
				<div class="progress progress-xs">
					<progress
						class="progress-bar bg-primary"
						value="{{.Percent}}"
						max="100"
					>
						{{.Percent}}%
					</progress>
				</div>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>
