<div class="table-responsive">
	<div id="table">
		<table class="table">
			<thead class="thead">
				<tr class="tr">
					<th class="th">{{translate .Lang "ID"}}</th>
					<th class="th">{{translate .Lang "Total"}}</th>
					<th class="th">{{translate .Lang "Status"}}</th>
					<th class="th">{{translate .Lang "Delivery"}}</th>
					<th class="th">{{translate .Lang "Payment"}}</th>
					<th class="th">{{translate .Lang "City"}}</th>
					<th class="th">{{translate .Lang "Updated at"}}</th>
					<th class="th"></th>
				</tr>
			</thead>
			<tbody class="tbody">
				{{ if .Empty }}
				<tr class="tr">
					<td colspan="9" class="td text-center box">
						{{translate .Lang "No results found."}}
					</td>
				</tr>
				{{else}}
				<!-- -->

				{{ range .Orders}}
				<tr class="tr">
					<td class="secondary table-td-id box td">{{.ID}}</td>
					<td class="box td">{{twodigits .Total}} {{$.Currency}}</td>
					<td class="box td">{{translate $.Lang .Status}}</td>
					<td class="box td">
						{{translate $.Lang .Delivery}}
					</td>
					<td class="box td">
						{{translate $.Lang .Payment}}
					</td>
					<td class="box td">{{.Address.City}}</td>
					<td class="box td">{{date .UpdatedAt}}</td>
					<td class="box td">
						<div class="row row-align row-gap">
							<a
							   href="/admin/orders/{{.ID}}/edit.html"
							   class="button table-button">
								<span class="button-icon"> {{template "edit.svg"}} </span>
							</a>
						</div>
					</td>
				</tr>
				{{end}}

				<!-- -->

				{{end}}
			</tbody>
		</table>

		{{if .Pagination.Total }}

		<!-- -->

		{{template "pagination.html" .Pagination}}

		<!-- -->

		{{end}}
	</div>
</div>