<div id="notes">
	{{range .Data.Notes}}
	<div class="box list-item">
		<div class="text-group">
			<b>{{.Note}}</b>
			<p class="secondary">{{datetime .CreatedAt}}</p>
		</div>
	</div>
	{{end}}

	<form
		  hx-post="/admin/orders/{{.Data.ID}}/note.html"
		  hx-target="#notes"
		  class="list-item">
		<div class="box" id="note-row">
			<label class="input-label" id="description">
				{{translate .Lang "text_general_note"}}
			</label>
			<textarea
					  id="note"
					  rows="5"
					  name="note"
					  required
					  class="input textarea input-full"></textarea>
			<small class="input-help">
				{{translate .Lang "text_note_sub"}}
			</small>
			<div id="note-error"></div>
		</div>

		<div class="card-footer box row row-end">
			<button class="button button-primary">
				{{translate .Lang "text_general_add"}}
			</button>
		</div>
	</form>
</div>