{{define "content"}}
<div hx-ext="alert, input">
	<div id="alert">
		{{if .Flash }}
		<div class="alert alert-success box" role="alert">
			<div class="row row-align">
				{{template "success.svg" .}}
				<div>
					<b class="alert-title">{{translate .Lang "text_general_success"}}</b>
					<p>{{translate .Lang .Flash}}</p>
				</div>
			</div>
		</div>
		{{end}}
	</div>

	<article class="card" id="orders">
		<div class="row row-align row-gap row-between box">
			<div>
				<h3 class="card-title">{{translate .Lang "text_general_list"}}</h3>
			</div>
			<div>
				<div id="spinner" class="htmx-indicator htmx-spinner"></div>

				<input
					   type="search"
					   class="input"
					   hx-get="/admin/orders.html?page={{.Pagination.Page}}"
					   hx-trigger="input changed delay:500ms, search"
					   hx-target="#table"
					   hx-indicator="#spinner"
					   hx-swap="outerHTML"
					   name="q"
					   placeholder='{{translate .Lang "text_general_orderssearchplaceholder"}}' />
				<div id="search-error"></div>
			</div>
		</div>
		{{template "orders-table.html" .}}
	</article>
</div>
{{end}}