<div class="table-responsive">
	<div id="table">
		<table>
			<thead>
				<tr>
					<th>{{translate .Lang "label_dashboard_id"}}</th>
					<th>{{translate .Lang "label_dashboard_total"}}</th>
					<th>{{translate .Lang "label_dashboard_status"}}</th>
					<th>{{translate .Lang "label_dashboard_delivery"}}</th>
					<th>{{translate .Lang "label_dashboard_payment"}}</th>
					<th>{{translate .Lang "label_dashboard_city"}}</th>
					<th>{{translate .Lang "label_dashboard_updatedat"}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ if .Empty }}
				<tr>
					<td colspan="9" class="text-center box">
						{{translate .Lang "label_dashboard_empty"}}
					</td>
				</tr>
				{{else}}
				<!-- -->

				{{ range .Orders}}
				<tr>
					<td class="secondary table-td-id box">{{.ID}}</td>
					<td class="box">{{twodigits .Total}} {{$.Currency}}</td>
					<td class="box">{{translate $.Lang "dynamic_status_" .Status}}</td>
					<td class="box">
						{{translate $.Lang "dynamic_delivery_" .Delivery}}
					</td>
					<td class="box">{{translate $.Lang "dynamic_payment_" .Payment}}</td>
					<td class="box">{{.Address.City}}</td>
					<td class="box">{{date .UpdatedAt}}</td>
					<td class="box">
						<div class="row row-align row-gap">
							<a href="/admin/orders/{{.ID}}/edit.html" class="button">
								{{template "edit.svg"}}
							</a>
						</div>
					</td>
				</tr>
				{{end}}

				<!-- -->

				{{end}}
			</tbody>
		</table>

		{{if .Pagination.Total }}

		<!-- -->

		{{template "pagination.html" .Pagination}}

		<!-- -->

		{{end}}
	</div>
</div>
