{{define "content"}}

<article class="card" hx-ext="alert, input">
    <div class="row row-align box card-header">
        <div>
            <h3 class="card-title">
                {{if .ID }}
                {{translate .Lang "Edit"}}
                {{else}}
                {{translate .Lang "Add"}}
                {{end}}
            </h3>
        </div>
    </div>

    <form
          hx-post="{{if .Data.Key }}/admin/filters/{{.Data.Key}}/edit{{else}}/admin/filters/add{{end}}">
        <div class="form box">
            <div class="form-row" id="key-row">
                <label class="input-label" for="key">
                    {{translate .Lang "Key"}}
                </label>

                <input
                       id="key"
                       name="key"
                       required
                       class="input input-full"
                       pattern="[a-zA-Z0-9]+"
                       value="{{if .Data.Key }}{{.Data.Key}}{{end}}"
                       {{if .Data.Key }}disabled{{end}} />


                <small class="input-help">
                    {{translate .Lang "The tag identifier can contains only alphanumeric characters, no space."}}
                    {{translate .Lang "You cannot change it after the creation."}}
                </small>

                <div id="key-error"></div>
            </div>

            <div class="form-row" id="label-row">
                <label class="input-label" for="label">
                    {{translate .Lang "Label"}}
                </label>

                <input
                       id="label"
                       name="label"
                       required
                       class="input input-full"
                       value="{{if .Data.Label }}{{.Data.Label}}{{end}}" />
                <small class="input-help">
                    {{translate .Lang "Define the text displayed on the website."}}
                </small>

                <div id="label-error"></div>
            </div>

            <div class="form-row" id="values-row">
                <label class="input-label" for="values">
                    {{translate .Lang "Values"}}
                </label>

                <select
                        {{if .Data.Editable }}{{else}}disabled{{end}}
                        id="values"
                        name="values"
                        multiple
                        class="input input-full tags tags-create">
                    <option></option>
                    {{range .Data.Values}}
                    <option {{if contains $.Data.Values .}}selected="true" {{end}}>{{.}}</option>
                    {{end}}
                </select>

                <small class="input-help">
                    {{translate .Lang "The first letter will be automatically capitalized on the website."}}
                    {{translate .Lang "So it's recommanded to define the values in lowercase."}}
                    <br />
                    {{translate .Lang "The values will be available for product filtering."}}
                </small>

                <div id="values-error"></div>
            </div>

            <div class="form-row row row-align row-between" id="root-row">
                <div>
                    <label class="switch-label" for="active">
                        {{translate .Lang "Active"}}
                    </label>

                    <small class="input-help">
                        {{translate
                        .Lang
                        "If enabled, the filter will be available on the product details on the website."}}
                    </small>

                    <div id="active-error"></div>
                </div>
                <div>
                    <label class="">
                        <input
                               id="active"
                               name="active"
                               class="switch"
                               type="checkbox"
                               {{if .Data.Active}}checked{{end}} />
                    </label>
                </div>
            </div>

            <div class="form-row" id="score-row">
                <label class="input-label" for="score">
                    {{translate .Lang "Score"}} -
                    <i>{{translate .Lang "Optional"}}</i>
                </label>

                <input
                       id="score"
                       name="score"
                       type="number"
                       class="input input-full"
                       value="{{if .Data.Score }}{{.Data.Score}}{{end}}" />


                <small class="input-help">
                    {{translate .Lang "Define the score inside the filter list."}}
                    {{translate .Lang "The higher the score, the more it will appear first."}}
                </small>

                <div id="score-error"></div>
            </div>

            <div id="alert"></div>
        </div>

        <div class="card-footer box">
            <div class="form row row-between row-gap">
                <a href="/admin/filters" class="button row row-align fill">
                    {{translate .Lang "Back"}}
                </a>
                <button class="button button-primary fill">
                    <div id="spinner" class="htmx-indicator htmx-spinner"></div>

                    {{translate .Lang "Save"}}
                </button>
            </div>
        </div>
    </form>

</article>

{{end}}