{{if .ID}} {{end}}
<form
	  hx-post="{{if .ID }}/admin/products/{{.ID}}/edit.html{{else}}/admin/products/add.html{{end}}"
	  enctype="multipart/form-data">
	<div class="form box">
		<div class="form-row" id="title-row">
			<label class="input-label" for="title">
				{{translate .Lang "text_general_title"}}
			</label>

			<input
				   id="title"
				   name="title"
				   required
				   class="input input-full"
				   required
				   value="{{if .Data.Title }}{{.Data.Title}}{{end}}" />

			<small class="input-help">
				{{translate .Lang "text_general_titlesub"}}
			</small>

			<div id="title-error"></div>
		</div>

		<div class="form-row" id="description-row">
			<label class="input-label" id="description">
				{{translate .Lang "text_general_description"}}
			</label>

			<textarea
					  id="description"
					  rows="5"
					  name="description"
					  required
					  class="input textarea input-full">{{if .Data.Description}}{{.Data.Description}}{{end}}</textarea>
			<div id="description-error"></div>
		</div>

		<div class="form-row" id="sku-row">
			<label class="input-label" for="sku">
				{{translate .Lang "text_products_sku"}} -
				<i>{{translate .Lang "text_general_optional"}}</i>
			</label>

			<input
				   id="sku"
				   name="sku"
				   class="input input-full"
				   pattern="[a-zA-Z0-9]+"
				   value="{{if .Data.Sku }}{{.Data.Sku}}{{end}}" />

			<small class="input-help">
				{{translate .Lang "text_products_skusub"}}
			</small>

			<div id="sku-error"></div>
		</div>

		<div class="form-row" id="status-row">
			<label class="input-label" for="status">
				{{translate .Lang "text_general_status"}}
			</label>

			<select id="status" name="status" class="input select input-full">
				<option value="online" {{if eq .Data.Status "online" }}selected{{end}}>
					{{translate .Lang "text_general_online"}}
				</option>

				<option value="offline" {{if eq .Data.Status "offline" }} selected {{end}}>
					{{translate .Lang "text_general_offline"}}
				</option>
			</select>

			<div id="status-error"></div>
		</div>

		<div class="form-row" id="price-row">
			<label class="input-label" for="price">
				{{translate .Lang "text_general_price"}}
			</label>

			<input
				   id="price"
				   name="price"
				   required
				   class="input input-full"
				   type="number"
				   step=".01"
				   value="{{if .Data.Price }}{{twodigits .Data.Price}}{{end}}" />

			<div id="price-error"></div>
		</div>

		<div class="form-row" id="discount-row">
			<label for="discount" class="input-label">
				{{translate .Lang "text_products_discount"}} -
				<i> {{translate .Lang "text_general_optional"}}</i>
			</label>

			<input
				   id="discount"
				   name="discount"
				   class="input input-full"
				   type="number"
				   step=".01"
				   value="{{if .Data.Discount }}{{twodigits.Data.Discount}}{{end}}" />

			<div id="discount-error"></div>
		</div>

		<div class="form-row" id="quantity-row">
			<label for="quantity" class="input-label">
				{{translate .Lang "text_general_quantity"}}
			</label>

			<input
				   id="quantity"
				   name="quantity"
				   class="input input-full"
				   required
				   type="number"
				   value="{{if .Data.Quantity }}{{.Data.Quantity}}{{end}}" />

			<div id="quantity-error"></div>
		</div>

		<div class="form-row" id="weight-row">
			<label for="weight" class="input-label">
				{{translate .Lang "text_products_weight"}} -
				<i> {{translate .Lang "text_general_optional"}}</i>
			</label>

			<input
				   id="weight"
				   name="weight"
				   class="input input-full"
				   type="number"
				   step=".01"
				   value="{{if .Data.Weight }}{{twodigits .Data.Weight}}{{end}}" />

			<small class="input-help">
				{{translate .Lang "text_products_weightsub"}}
			</small>

			<div id="weight-error"></div>
		</div>

		<div class="form-row" id="tags-row">
			<label for="tags" class="input-label">
				{{translate .Lang "text_products_tags"}} -
				<i> {{translate .Lang "text_general_optional"}}</i>
			</label>

			<input
				   id="tags"
				   name="tags"
				   class="input input-full"
				   placeholder='{{translate .Lang "text_products_tagsplaceholder"}}'
				   value='{{if .Data.Tags }}{{join .Data.Tags " "}}{{end}}' />

			<small class="input-help">
				{{translate .Lang "text_products_tagssub"}}
			</small>

			<div id="tags-error"></div>
		</div>

		<div class="form-row" id="image_1-row">
			<label for="image_1" class="input-label">
				{{translate .Lang "text_general_image"}} 1
			</label>

			<input
				   id="image_1"
				   name="image_1"
				   class="input-file input-full"
				   type="file"
				   accept="image/png, image/jpeg, image/jpg"
				   {{if.ID}}{{else}}required{{end}} />

			<small class="input-help">
				{{translate .Lang "text_images_sub"}}
			</small>

			{{if .Data.Image1}}

			<small class="input-link">
				<a href="{{.Data.Image1}}" target="_blank" class="link">
					{{.Data.Image1}}
				</a>
			</small>

			{{end}}

			<div id="image_1-error"></div>
		</div>

		<div class="form-row" id="image_2-row">
			<label for="image_2" class="input-label">
				{{translate .Lang "text_general_image"}} 2 -
				<i> {{translate .Lang "text_general_optional"}}</i>
			</label>

			{{if .Data.Image2}}

			<input
				   id="image_2_delete"
				   type="checkbox"
				   class="hide"
				   name="image_2_delete" />

			{{end}}

			<div class="input-group row">
				<input
					   id="image_2"
					   name="image_2"
					   class="input-file fill"
					   type="file"
					   accept="image/png, image/jpeg, image/jpg" />

				{{if .Data.Image2}}

				<label for="image_2_delete" class="input-label input-group-label">
					<a class="button input-group-button">
						<span class="button-icon"> {{template "close.svg"}} </span>
					</a>
				</label>

				{{end}}
			</div>

			<small class="input-help">
				{{translate .Lang "text_images_sub"}}
			</small>

			{{if .Data.Image2}}

			<small class="input-link">
				<a href="{{.Data.Image2}}" target="_blank" class="link">
					{{.Data.Image2}}
				</a>
			</small>

			{{end}}

			<div id="image_2-error"></div>
		</div>

		<div class="form-row" id="image_3-row">
			<label for="image_3" class="input-label">
				{{translate .Lang "text_general_image"}} 3 -
				<i> {{translate .Lang "text_general_optional"}}</i>
			</label>

			{{if .Data.Image3}}

			<input
				   id="image_3_delete"
				   type="checkbox"
				   class="hide"
				   name="image_3_delete" />

			{{end}}

			<div class="input-group row">
				<input
					   id="image_3"
					   name="image_3"
					   class="input-file fill"
					   type="file"
					   accept="image/png, image/jpeg, image/jpg" />

				{{if .Data.Image3}}

				<label for="image_3_delete" class="input-label input-group-label">
					<a class="button input-group-button">
						<span class="button-icon"> {{template "close.svg"}} </span>
					</a>
				</label>

				{{end}}
			</div>

			<small class="input-help">
				{{translate .Lang "text_images_sub"}}
			</small>

			{{if .Data.Image3}}

			<small class="input-link">
				<a href="{{.Data.Image3}}" target="_blank" class="link">
					{{.Data.Image3}}
				</a>
			</small>

			{{end}}

			<div id="image_3-error"></div>
		</div>

		<div class="form-row" id="image_4-row">
			<label for="image_4" class="input-label">
				{{translate .Lang "text_general_image"}} 4 -
				<i> {{translate .Lang "text_general_optional"}}</i>
			</label>

			{{if .Data.Image4}}

			<input
				   id="image_4_delete"
				   type="checkbox"
				   class="hide"
				   name="image_4_delete" />

			{{end}}

			<div class="input-group row">
				<input
					   id="image_4"
					   name="image_4"
					   class="input-file fill"
					   type="file"
					   accept="image/png, image/jpeg, image/jpg" />

				{{if .Data.Image4}}

				<label for="image_4_delete" class="input-label input-group-label">
					<a class="button input-group-button">
						<span class="button-icon"> {{template "close.svg"}} </span>
					</a>
				</label>

				{{end}}
			</div>

			<small class="input-help">
				{{translate .Lang "text_images_sub"}}
			</small>

			{{if .Data.Image4}}

			<small class="input-link">
				<a href="{{.Data.Image4}}" target="_blank" class="link">
					{{.Data.Image4}}
				</a>
			</small>

			{{end}}

			<div id="image_4-error"></div>
		</div>

		<div id="alert"></div>
	</div>

	<div class="card-footer box">
		<div class="form row row-between row-gap">
			<a href="/admin/products.html" class="button row row-align fill">
				{{translate .Lang "text_general_back"}}
			</a>
			<button class="button button-primary fill">
				<div id="spinner" class="htmx-indicator htmx-spinner"></div>

				{{translate .Lang "text_general_send"}}
			</button>
		</div>
	</div>
</form>