.alert {
	margin-bottom: var(--spacing);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	background-color: white;
}

.alert-danger {
	border-left: 3px solid var(--danger);
	box-shadow: var(--box-shadow);
}

.alert-success {
	border-left: 3px solid var(--success);
	box-shadow: var(--box-shadow);
}

.alert-container {
	display: flex;
}

.alert p {
	color: var(--secondary);
	margin: 0;
}

.alert-danger b,
.alert-danger svg {
	color: var(--danger);
}

.alert-success b,
.alert-success svg {
	color: var(--success);
}
