.button {
	border: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	/* Remove the border width */
	height: var(--input-height);
	border-radius: var(--border-radius);
	line-height: var(--input-line-height);
	font-weight: 500;
	font-family: var(--font-family);
	font-feature-settings: var(--font-feature-settings);
}

.button:not(.button-primary) {
	height: calc(var(--input-height) - 2px);
}

.button:not(.button-primary) {
	border: 1px solid var(--border-color);
	background-color: white;
	color: var(--font-color);
}

.button:not(.button-primary):hover {
	border-color: var(--border-active-color);
}

.button:not(.button-primary):active {
	border-color: var(--primary);
	color: var(--primary);
}

.button:hover {
	cursor: pointer;
}

.button-primary {
	background-color: var(--primary);
	border: 1px solid transparent;
	color: var(--button-color-hover);
}

.button-primary:hover {
	background-color: var(--button-background-color-hover);
	border-color: transparent;
}

.button-full {
	width: 100%;
}

.button-icon {
	color: var(--secondary);
	display: flex;
}

.input-group-button:not(.button-primary) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
	height: calc(var(--input-height) + 3px);
	box-shadow: var(--box-shadow-input);
}

@-moz-document url-prefix() {
	.input-group-button:not(.button-primary) {
		height: calc(var(--input-height) + 4px);
	}
}