.form {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.form-row {
	position: relative;
}

.form-row:not(:last-child) {
	margin-bottom: calc(var(--spacing) * 2);
}

.form-row-single {
	margin-bottom: var(--spacing);
}

.form-row-single:has(.form-error) *,
.form-row:has(.form-error) *,
.form-error {
	color: var(--danger);
}

.form-error {
	margin-top: calc(var(--spacing) / 2);
	font-size: 12px;
}