.header {
	border-bottom: 1px solid var(--border-color);
	background-color: white;
	--menu-item-height: 55px;
}

.header-navbar-button {
	margin: auto 0;
}

.header-container {
	height: var(--menu-item-height);
	display: flex;
	justify-content: space-between;
}

.header-menu-link {
	text-decoration: none;
	color: var(--font-color);
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}

.header-menu-icon {
	color: var(--menu-icon-color);
}

.header-menu-list {
	list-style: none;
	overflow-x: scroll;
	height: 73px;
}

.header-menu-item {
	height: var(--menu-item-height);
}

.header-menu-item-active {
	border-bottom: 2px solid var(--primary);
}

.header-navigation {
	padding-top: calc(var(--spacing) * 2);
	margin-bottom: var(--spacing);
}

.header-navigation-title {
	margin-bottom: 0;
}

@media (max-width: 800px) {
	.header-navigation {
		flex-direction: column;
	}

	.header-navigation-actions {
		margin-top: var(--spacing);
		align-self: flex-end;
	}
}
