.table {
	width: 100%;
}

.thead {
	text-align: left;
	background-color: var(--background-color);
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.table-label {
	display: block;
	font-weight: 500;
	margin-bottom: 0;
}

.tbody {
	background-color: white;
}

.th {
	font-weight: 500;
	color: var(--secondary);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.5px;
}

.th,
.td {
	padding: var(--spacing) var(--spacing);
}

.tr:not(:last-child) {
	border-bottom: 1px solid var(--border-color);
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-fixed {
	table-layout: fixed;
}

.table-border {
	border: 1px solid var(--border-color);
}

.table-badge {
	display: block;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.table-badge-success {
	background-color: var(--success);
}

.table-badge-danger {
	background-color: var(--danger);
}

.table-td-id {
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	min-width: 200px;
}

.table-pagination {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	padding-left: 0;
	list-style: none;
	align-items: center;
	gap: calc(var(--spacing) / 2);
}

.table-pagination-item {
	text-align: center;
}

.table-pagination-link {
	width: 28px;
	height: 28px;
	border-radius: var(--border-radius);
	display: inline-block;
	color: var(--secondary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-pagination-link:not(.table-pagination-link-active):hover {
	color: var(--link-hover-color);
}

.table-pagination-link-active {
	color: white;
	background-color: var(--primary);
	border-color: var(--primary);
}

.table-pagination-link-disabled {
	color: var(--pagination-disabled-color);
	cursor: default;
}

.table-button {
	min-width: 48px;
	transition: 0.5s;
}

.table-delete-confirm-button,
.table-destroy-checkbox {
	display: none;
}

.table-destroy-confirmation {
	transition: 0.5s;
}

.table-destroy-checkbox:checked ~ .table-confirm-button {
	display: none;
}

.table-destroy-checkbox:checked ~ .table-delete-confirm-button {
	display: flex;
	transition: 0.35s;
	--border-color: var(--danger);
	border-color: var(--border-color);
	background-color: var(--danger);
	box-shadow: 0 1px 1px rgba(var(--danger-rgb), 0.06);
	color: white;
}
