.textarea {
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	border-width: 1px;
	border-style: solid;
	outline: 0;
	font-family: var(--font-family);
	box-shadow: var(--box-shadow-input);
	padding-top: calc(var(--spacing) / 2);
	padding-bottom: calc(var(--spacing) / 2);
	resize: vertical;
	min-height: 70px;
}
