[data-tooltip] {
	position: relative;
}

[data-tooltip]:not(a, button, input) {
	text-decoration: none;
	cursor: help;
}

[data-tooltip]:focus::after,
[data-tooltip]:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
	opacity: 1;
}

[data-tooltip]::after,
[data-tooltip]::before,
[data-tooltip][data-placement="top"]::after,
[data-tooltip][data-placement="top"]::before {
	display: block;
	z-index: 99;
	position: absolute;
	bottom: 100%;
	left: 50%;
	padding: 0.25rem 0.5rem;
	overflow: hidden;
	transform: translate(-50%, -0.25rem);
	border-radius: var(--border-radius);
	background: var(--tooltip-background-color);
	content: attr(data-tooltip);
	color: white;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
}

[data-tooltip]:focus::after,
[data-tooltip]:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
	opacity: 1;
}

[data-tooltip]::after,
[data-tooltip][data-placement="top"]::after {
	padding: 0;
	transform: translate(-50%, 0);
	border-top: 0.3rem solid;
	border-right: 0.3rem solid transparent;
	border-left: 0.3rem solid transparent;
	border-radius: 0;
	background-color: transparent;
	content: "";
	color: var(--tooltip-background-color);
}
