<!---->
{{define "body"}}

<!---->

<main class="container">
	<div class="grid grid--detail">
		<div class="text-center">
			<img src=" {{.Product.Image}}" alt="{{.Product.Title}}" height="600" />
		</div>
		<div>
			<h1>{{.Product.Title}}</h1>
			<p><b>{{.Product.Price}} EUR</b></p>
			<p>{{.Product.Description}}</p>
			<form class="grid grid--quantity">
				<input class="input" type="number" name="quantity" value="1" />
				<button class="button">{{index .T "add_to_cart"}}</button>
			</form>
		</div>
	</div>
</main>
<!---->
{{end}}