button,
a.button {
  border: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: calc(var(--spacing) / 1.25) var(--spacing);
  border-radius: var(--border-radius);
  line-height: var(--input-line-height);
  font-weight: 500;
  font-family: var(--font-family);
}

button:not(.button-primary), 
.button:not(.button-primary) {
  border: 1px solid var(--border-color);
  background-color: white;
  color: var(--font-color);
}

button:not(.button-primary):hover, 
.button:not(.button-primary):hover{
  border-color:var(--border-active-color) ;
}

button:not(.button-primary):active, 
.button:not(.button-primary):active{
  border-color:var(--primary) ;
  color:var(--primary) ;
}

button:hover,
a.button:hover {
  cursor: pointer;
}

.button-primary{
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--button-color-hover);
}

.button-primary:hover {
  background-color: var(--button-background-color-hover);
  border-color: transparent;
}

.button-full {
  width: 100%;
}

.button .spinner,
button .spinner {
  color: white;
  margin-right: var(--spacing);
}

.htmx-request button,
.htmx-request .button {
  background-color: var(--button-background-color-hover);
  pointer-events: none;
}

.buttons {
  display: flex;
  gap: var(--spacing);
}

.buttons button,
.buttons .button {
  flex: 1;
}