<div class="card-footer box row row-between">
	<p>{{translate .Lang "Showing %d to %d of %d entries" .Start .End .Total}}</p>
	<ul class="table-pagination">
		<li class="table-pagination-item">
			{{if not .IsFirst}}

			<a
			   class="table-pagination-link {{if .IsFirst }} table-pagination-link-disabled {{end}}"
			   href="#"
			   hx-get="{{.URL}}?page=0"
			   hx-target="#table"
			   hx-swap="outerHTML">
				{{template "arrow-left.svg"}}
			</a>

			{{else }}

			<a class="table-pagination-link" href="#">
				{{template "arrow-left.svg"}}
			</a>

			{{end}}
		</li>

		{{range .Items}}
		<li class="table-pagination-item">
			{{if eq . $.Page}}

			<a class="table-pagination-link table-pagination-link-active" href="#">{{.}}</a>

			{{else}}

			<a
			   class="table-pagination-link"
			   href="#"
			   hx-get="{{$.URL}}?page={{.}}"
			   hx-target="#table"
			   hx-swap="outerHTML">{{.}}</a>

			{{end}}
		</li>
		{{end}}

		<li class="table-pagination-item">
			{{if not .IsLast}}

			<a
			   class="table-pagination-link {{if .IsLast}} table-pagination-link-disabled {{end}}"
			   href="#"
			   hx-get="{{.URL}}?page={{.Max}}"
			   hx-target="#table"
			   hx-swap="outerHTML">
				{{template "arrow-right.svg"}}
			</a>

			{{else }}

			<a class="table-pagination-link" href="#">
				{{template "arrow-right.svg"}}
			</a>

			{{end}}
		</li>
	</ul>

	<input type="hidden" name="page" id="page" value="{{.Page}}" />
</div>