{{ define "body"}}

<header class="header header-navbar">
	<div class="container header-container">
		<a class="row row-align" href="/admin/index">
			<img src="/icons/logo.svg" width="110" height="32" alt="Logo" />
		</a>
		<a href="#" hx-post="/logout" class="button header-navbar-button">
			{{translate .Lang "Logout"}}
		</a>
	</div>
</header>

<header class="header header-menu">
	<div class="container header-container">
		<ul class="row header-menu-list">
			<li
				class='row header-menu-item {{if eq .Page "Dashboard"}} header-menu-item-active {{end}}'>

				<a href="/admin/index" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "home.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "home"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "Products"}} header-menu-item-active {{end}}'>
				<a href="/admin/products" class="row row-align header-menu-link">
					<span class="header-menu-icon">
						{{template "building-store.svg" .}}
					</span>

					<span class="nav-link-title">
						{{translate .Lang "Products"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "Orders"}} header-menu-item-active {{end}}'>
				<a href="/admin/orders" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "receipt.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "Orders"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "Filters"}} header-menu-item-active {{end}}'>
				<a href="/admin/filters" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "filter.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "Filters"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "Tags"}} header-menu-item-active {{end}}'>
				<a href="/admin/tags" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "tag.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "Tags"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "CMS"}} header-menu-item-active {{end}}'>
				<a href="/adminblog" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "article.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "CMS"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "Settings"}} header-menu-item-active {{end}}'>
				<a href="/admin/settings" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "settings.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "Settings"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "SEO"}} header-menu-item-active {{end}}'>
				<a href="/admin/seo" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "seo.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "SEO"}}
					</span>
				</a>
			</li>
		</ul>
	</div>
</header>

<div class="container">
	<div class="header-navigation row row-between row-align">
		<h2 class="header-navigation-title">
			{{translate .Lang .Page}}
		</h2>
		{{template "actions" .}}
	</div>
	{{template "content" .}}
</div>

<footer class="box"></footer>
{{end}}

<!-- -->
{{define "actions"}} {{end}}