{{ define "body"}}

<header class="header header-navbar">
	<div class="container header-container">
		<a class="row row-align" href="/admin/index.html">
			<img src="/public/icons/logo.svg" width="110" height="32" alt="Logo" />
		</a>
		<a href="#" hx-post="/auth/logout" class="button header-navbar-button">
			{{translate .Lang "label_dashboard_logout"}}
		</a>
	</div>
</header>

<header class="header header-menu">
	<div class="container header-container">
		<ul class="row header-menu-list">
			<li
				class='row header-menu-item {{if eq .Page "dashboard"}} header-menu-item-active {{end}}'>

				<a href="/admin/index.html" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "home.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "label_dashboard_home"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "products"}} header-menu-item-active {{end}}'>
				<a href="/admin/products.html" class="row row-align header-menu-link">
					<span class="header-menu-icon">
						{{template "building-store.svg" .}}
					</span>

					<span class="nav-link-title">
						{{translate .Lang "label_dashboard_products"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "orders"}} header-menu-item-active {{end}}'>
				<a href="/admin/orders.html" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "receipt.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "label_dashboard_orders"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "blog"}} header-menu-item-active {{end}}'>
				<a href="/admin/blog.html" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "article.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "label_dashboard_blog"}}
					</span>
				</a>
			</li>

			<li
				class='row header-menu-item {{if eq .Page "settings"}} header-menu-item-active {{end}}'>
				<a href="/admin/settings.html" class="row row-align header-menu-link">
					<span class="header-menu-icon"> {{template "settings.svg" .}} </span>

					<span class="nav-link-title">
						{{translate .Lang "label_dashboard_settings"}}
					</span>
				</a>
			</li>
		</ul>
	</div>
</header>

<div class="container">
	<div class="header-navigation row row-between row-align">
		<h2 class="header-navigation-title">
			{{translate .Lang (printf "title_%s_page" .Page) }}
		</h2>
		{{template "actions" .}}
	</div>
	{{template "content" .}}
</div>

<footer class="box"></footer>
{{end}}

<!-- -->
{{define "actions"}} {{end}}