@import url("./partials/fonts.css");
@import url("./partials/normalize.css");
@import url("./partials/alert.css");
@import url("./partials/form.css");
@import url("./partials/button.css");
@import url("./partials/login.css");
@import url("./partials/header.css");
@import url("./partials/util.css");
@import url("./partials/card.css");
@import url("./partials/stats.css");
@import url("./partials/table.css");
@import url("./partials/tooltip.css");
@import url("./partials/text.css");
@import url("./partials/list.css");

:root {
	--font-family: "InterVariable", -apple-system, BlinkMacSystemFont,
		San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
	--color: #182433;
	--color-rgb: 24, 36, 51;
	--box-shadow-input: 0 1px 1px rgba(var(--color-rgb), 0.06);
	--primary: #206bc4;
	--primary-rgb: 32, 107, 196;
	--link-hover-color: #1a569d;
	--background-color: #f6f8fb;
	--secondary: #6c7a91;
	--spacing: 12px;
	--tooltip-background-color: hsl(205, 30%, 15%);
	--font-size: 14px;
	--button-color-hover: #f6f8fb;
	--button-background-color-hover: rgba(var(--primary-rgb), 0.8);
	--border-radius: 4px;
	--border-color: #ccc;
	--border-active-color: #aab2bf;
	--menu-icon-color: #8a97ab;
	--input-shadow: 0 0 0 4px rgba(var(--primary-rgb), 0.25);
	--input-border-color-focus: rgba(var(--primary-rgb), 0.6);
	--input-line-height: 1.4;
	--input-height: 40px;
	--danger: #d63939;
	--success: #2fb344;
	--danger-rgb: 214, 57, 57;
	--box-shadow: rgba(24, 36, 51, 0.04) 0 2px 4px 0;
	--font-feature-settings: "cv03", "cv04", "cv11";
	--chart-height: 200px;
	--pagination-disabled-color: #b8c4d4;
	--input-button-color: #eef3f6;
}

::selection {
	background-color: rgba(var(--primary-rgb), 0.16);
}

body {
	font-family: var(--font-family);
	background-color: var(--background-color);
	font-size: var(--font-size);
	font-feature-settings: var(--font-feature-settings);
	color: var(--color);
}

main {
	flex: 1;
}

h1 {
	color: #6c7a91;
	font-size: 64px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: var(--spacing);
	line-height: 1;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: var(--spacing);
	font-weight: 500;
}

/* a {
	color: var(--primary);
} */

.page-simple {
	border-top: 2px solid var(--primary);
	height: 100%;
}

.page-simple-message {
	margin: calc(var(--spacing) * 2) auto;
	max-width: 330px;
}

.subtitle {
	color: var(--secondary);
}

.icon {
	margin-right: var(--spacing);
}
